<div class="container">
  <h1>Profile for <%= @user.name %></h1>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <%= link_to "All My Urls", urls_path %>
  | <%= link_to "Edit", edit_user_path(@user) %>
  | <%= link_to "Delete Account", user_path(@user), method: :delete, data: {confirm: 'Are you sure you want to delete your account?'} %>
</div>